<% content_for(:body_attributes) do %>
    data-no-turbolink="true"
<% end %>
<h2>User Dashboard</h2>


<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-88266161-1', 'auto');
    ga('send', 'pageview');

</script>

<div id="userDashboard" class="container">
  <div class="row">
    <div class="col-md-9">
      <div id="dashboardCalendar">
      </div>
    </div>
    <div class="col-md-3">
      <div class="mytournaments-panel">

        <%= render 'dashboard/tournamentlist', title: "Tournaments I'm Participating In", tournaments: @participatingtournaments %>
      </div>
      <div class="mycreatedtournaments-panel">

        <%= render 'dashboard/tournamentlist', title: "Tournaments I've Created", tournaments: @createdtournaments %>
      </div>
      <div class="myspectatortournaments-panel">

        <%= render 'dashboard/tournamentlist', title: "Tournaments I'm Spectating", tournaments: @spectatortournaments %>
      </div>
      <div class="mysponsoredtournaments-panel">

        <%= render 'dashboard/tournamentlist', title: "Tournaments I'm Sponsoring", tournaments: @sponsoredtournaments %>
      </div>

    </div>
  </div>
  <div id="dashboardModalContainer"></div>
</div>
<script>
    $(document).ready(function () {
        $('#dashboardCalendar').fullCalendar({
            header: {
                left: 'prev,next',
                center: 'title'
            },
            eventClick: function (calEvent) {

                getTournamentModal(calEvent.tournament_id, function (response) {
                    $("#dashboardModalContainer").html(response);
                    $("#dashboardModalContainer .modal").modal();
                    $("#dashboardModalContainer button.show-tournament").hide();
                });

            },

            eventSources: [
                {
                    url: 'participatingtournaments_feed',
                    color: 'blue',
                    textColor: 'white'
                },
                {
                    url: 'createdtournaments_feed',
                    color: 'green',
                    textColor: 'white'
                },
                {
                    url: 'spectatortournaments_feed',
                    color: 'purple',
                    textColor: 'white'
                },
                {
                    url: 'sponsoredtournaments_feed',
                    color: 'orange',
                    textcolor: 'white'
                }
            ]

        });
    });

    var getTournamentModal = function (tournament_id, successCallback) {
        $.ajax({
            url: '<%= dashboard_get_tournament_modal_path%>',
            data: {tournament_id: tournament_id},
            success: successCallback,
            dataType: "html",
            method: 'get'
        });

    };


</script>

