<table class="table table-bordered">
  <thead>
      <th>User</th>
      <th>Contact Email</th>
      <th>Status</th>
      <th>Group Number</th>
      <th> </th>
      <th> </th>
      <th> </th>
  </thead>
  <tbody>
   <% users.each do |user|%>
   <% if user['player'].is_admin == true %>
   <tr class="info">
     <% else %>
   <tr>
   <% end %>
      <td>
        <% if user["is_guest"] == true %>
          <%= sprintf("%s guest %d", user["account"].first_name, user["guest_number"]) %>
        <% end %>
        <% if user["is_guest"] == false %>
          <% if user["account"] %>
            No Name
          <% else %>
          <%= user["account"].first_name %>
          <% end %>
        <% end %>
      </td>
      <td><%= user["email"] %></td>
      <td>
        <% if user["player"].checked_in != true %>
          false
          <% else %>
          true
        <% end %>
      </td>
      <td>
        <%= user["player"].group_number %>
      </td>
      <td>
        <%= render "organizer_dashboard/send_email_modal", user: user %>
        <button type="button" class="btn-success btn-sm" data-toggle="modal" data-target=<%= "#sendemail#{user["player"].id}" %> >Send Message</button>
      </td>

      <td>
        <%= render "organizer_dashboard/send_ticket_modal", user: user %>
        <button type="button" class="btn-success btn-sm" data-toggle="modal" data-target=<%= "#sendticket#{user["player"].id}" %> >Resend Ticket</button>
      </td>
      
      <td>
        <%= button_to 'Check In', {controller: "organizer_dashboard", action: "check_player_in", id: user["player"].tournament_id, player_id: user["player"].id}, method: "post", class: "bold btn-success btn-sm" %>
      </td>

      <!-- Only see the ability to make users admins if organizer  -->
      <% if current_player.is_organizer == true %>
      <td>
        <% if user["player"].is_admin == false || user["player"].is_admin == nil %>
        <%= button_to 'Set Admin Status', {controller: "organizer_dashboard", action: "set_player_admin", id: user["player"].tournament_id, player_id: user["player"].id}, method: "post", class: "bold btn-success btn-sm" %>
        <% else %>
        <%= button_to 'Remove Admin Status', {controller: "organizer_dashboard", action: "remove_player_admin", id: user["player"].tournament_id, player_id: user["player"].id}, method: "post", class: "bold btn-danger btn-sm" %>
        <% end %>
      </td>
      <% end %>
   </tr>
  <% end %>
</tbody>
</table>
<p> Note: Admins Are Highlighted As Blue </p>
