<!DOCTYPE HTML>
<html>
  <head>
    <style type="text/css">
      .col-centered{
        float: none;
        margin: auto;
      }
      .center-text{
      text-align: center
      }
      </style>
  </head>
</html>

<h1>Organiser Dashboard</h1>
<%=render('layouts/event_organizer_header') %>

<%= render "organizer_dashboard/users_table",  users: @all_tournament_playars, current_player: @current_player %>
<div class = center-text>

    <thead>
      <tr>
        <th> Player Tickets Left: <%= @tournament.tickets_left %>, </th>
        <th> Spectator Tickets Left: <%= @tournament.spectator_tickets_left %>,</th>
        <th> Dinner Tickets Left: <%= @tournament.dinner_tickets_left %></th>
      </tr>
    </thead>

  <%= button_to "Reload Tickets Left", {:controller => 'organizer_dashboard', :action => "show"}, :method => :get %>

</div>

<div class = center-text>

  <%= button_to 'Signup', {:controller => "signup", :action => "signup_from_tournament", :id => params[:id]} , :method=>:get %>

</div>

<% if @is_private == true %>
  <div class = center-text>
  The password to your event is: <%= @private_event_password %>
  </div>
<% end %>
