<div class="container">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <h3> Contact Information </h3>

  <%= form_for :account do |f| %>

    <div class = "row">
      Prefix:
      <select id = "prefix" class = "kl">
        <option value="...">...</option>
        <option value="Mr.">Mr.</option>
        <option value="Mrs.">Mrs.</option>
        <option value="Miss">Miss</option>
        <option value="">Dr.</option>
        <option value="">Prof.</option>
      </select>
    </div>

      <BR/><BR/>

    <div class = "row">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
      <%= f.label :middle_name %>
      <%= f.text_field :middle_name %>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>

    <BR/><BR/>

    <div class = "row">
      <%= f.label :suffix %>
      <%= f.text_field :suffix %>
    </div>

    <BR/><BR/>

    <div class = "row">
      <%= f.label :mobile_phone %>
      <%= f.text_field :mobile_phone %>
    </div>

  <h3> Home Address </h3>
    
    <div class = "row">
      <%= f.label :home_adr_1 %>
      <%= f.text_field :home_adr_1 %>
    </div>

    <BR/><BR/>

    <div class = "row">
      <%= f.label :home_adr_2 %>
      <%= f.text_field :home_adr_2 %>
    </div>

    <BR/><BR/>
    <div class = "row">
      <%= f.label :home_city %>
      <%= f.text_field :home_city %>
    </div>

    <BR/><BR/>
    <div class = "row">
      Country
      <%= render 'users/countrylist' %>
    </div>

    <BR/><BR/>

    <div class ="row">
      <%= f.label :home_code %>
      <%= f.text_field :home_code %>
    </div>

    <BR/><BR/>

    <div class ="row">
      <%= f.label :home_province %>
      <%= f.text_field :home_province %>
    </div>

  <h3> Billing Address </h3>
    
    <div class = "row">
      <%= f.label :bill_adr_1 %>
      <%= f.text_field :bill_adr_1 %>
    </div>

    <BR/><BR/>

    <div class = "row">
      <%= f.label :bill_adr_2 %>
      <%= f.text_field :bill_adr_2 %>
    </div>

    <BR/><BR/>
    <div class = "row">
      <%= f.label :bill_city %>
      <%= f.text_field :bill_city %>
    </div>

    <BR/><BR/>
    <div class = "row">
      Country
      <%= render 'users/countrylist' %>
    </div>

    <BR/><BR/>

    <div class ="row">
      <%= f.label :bill_code %>
      <%= f.text_field :bill_code %>
    </div>

    <BR/><BR/>
    
    <div class ="row">
      <%= f.label :province %>
      <%= f.text_field :province %>
    </div>

  <h3> Other Information </h3>
    
    <div class ="row">
      <div class="field">
          <%= f.label :gender%>
          <%= f.radio_button :gender, true %>
          <%= f.label :gender, "Male", :value => "true"  %>
          <%= f.radio_button :gender, false, :checked => true %>
          <%= f.label :gender, "Female", :value => "false" %>
          <%= f.radio_button :gender, true %>
          <%= f.label :gender, "Other", :value => "false"  %>
        </div>
    </div>

    <BR/><BR/>

    <div class = "row">
      Birth Date
      <BR/>
      <%= render 'users/birthdate' %> 
    </div>

    <BR/><BR/>

    <button> Save </button>
  <% end %>

  <%= link_to "Back", :back %>
  </div>

