<div class = "row">
  <%= f.label :bill_adr_1 %>
  <%= f.text_field :bill_adr_1 %>
</div>

<BR/><BR/>

<div class = "row">
  <%= f.label :bill_adr_2 %>
  <%= f.text_field :bill_adr_2 %>
</div>

<BR/><BR/>
<div class = "row">
  <%= f.label :bill_city %>
  <%= f.text_field :bill_city %>
</div>

<BR/><BR/>
<div class = "row">
  <%= f.label :bill_country %>
  <%= render 'users/countrylist' %>
</div>

<BR/><BR/>

<div class ="row">
  <%= f.label :bill_code %>
  <%= f.text_field :bill_code %>
</div>

<BR/><BR/>

<div class ="row">
  <%= f.label :bill_province %>
  <%= f.text_field :bill_province %>
</div>