<%= form_for(:account, html: {method: :post}) do |f| %>
  
    <div class = "row">
      <%= f.label :profile_picture %>
      <%= f.file_field :avatar %>
      </div>

    <h3> Contact Information </h3>

    <div class = "row">
      <%= f.label :prefix %>
      <%= f.select :prefix, ["Mr.", "Mrs.", "Miss", "Dr.", "Prof."] %>
    </div>

      <BR/><BR/>

    <div class = "row">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
      <%= f.label :middle_name %>
      <%= f.text_field :middle_name %>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>

    <BR/><BR/>

    <div class = "row">
      <%= f.label :suffix %>
      <%= f.text_field :suffix %>
    </div>

    <BR/><BR/>

    <div class = "row">
      <%= f.label :mobile_phone %>
      <%= f.text_field :mobile_phone %>
    </div>

  <h3> Home Address </h3>
    
    <div class = "row">
      <%= f.label "Address line 1" %>
      <%= f.text_field :home_adr1 %>
    </div>

    <BR/><BR/>

    <div class = "row">
      <%= f.label "Address line 2" %>
      <%= f.text_field :home_adr2 %>
    </div>

    <BR/><BR/>
    <div class = "row">
      <%= f.label :city %>
      <%= f.text_field :home_city %>
    </div>

    <BR/><BR/>

    <div class ="row">
      <%= f.label :province %>
      <%= f.text_field :home_province %>
    </div>

    <BR/><BR/>

    <div class ="row">
      <%= f.label :postal_code %>
      <%= f.text_field :home_code %>
    </div>

    <BR/><BR/>

    <div class = "row">
      <%= f.label :country %>
      <%= f.select :home_country, ["Afghanistan", "Åland Islands", "Albania", "Algeria", "American Samoa", "Andorra", "Angola", "Anguilla", "Antarctica", "Antigua and Barbuda", "Argentina", "Armenia", "Aruba", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia, Plurinational State of", "Bonaire, Sint Eustatius and Saba", "Bosnia and Herzegovina", "Botswana", "Bouvet Island", "Brazil", "British Indian Ocean Territory", "Brunei Darussalam", "Bulgaria", "Burkina Faso", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Cayman Islands", "Central African Republic", "Chad", "Chile", "China", "Christmas Island", "Cocos (Keeling) Islands", "Colombia", "Comoros", "Congo", "Congo, the Democratic Republic of the", "Cook Islands", "Costa Rica", "Côte d'Ivoire", "Croatia", "Cuba", "Curaçao", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Falkland Islands (Malvinas)", "Faroe Islands", "Fiji", "Finland", "France", "French Guiana", "French Polynesia", "French Southern Territories", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Gibraltar", "Greece", "Greenland", "Grenada", "Guadeloupe", "Guam", "Guatemala", "Guernsey", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Heard Island and McDonald Islands", "Holy See (Vatican City State)", "Honduras", "Hong Kong", "Hungary", "Iceland", "India", "Indonesia", "Iran, Islamic Republic of", "Iraq", "Ireland", "Isle of Man", "Israel", "Italy", "Jamaica", "Japan", "Jersey", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Korea, Democratic People's Republic of", "Korea, Republic of", "Kuwait", "Kyrgyzstan", "Lao People's Democratic Republic", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg", "Macao", "Macedonia, the former Yugoslav Republic of", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands", "Martinique", "Mauritania", "Mauritius", "Mayotte", "Mexico", "Micronesia, Federated States of", "Moldova, Republic of", "Monaco", "Mongolia", "Montenegro", "Montserrat", "Morocco", "Mozambique", "Myanmar", "Namibia", "Nauru", "Nepal", "Netherlands", "New Caledonia", "New Zealand", "Nicaragua", "Niger", "Nigeria", "Niue", "Norfolk Island", "Northern Mariana Islands", "Norway", "Oman", "Pakistan", "Palau", "Palestinian Territory, Occupied", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Pitcairn", "Poland", "Portugal", "Puerto Rico", "Qatar", "Réunion", "Romania", "Russian Federation", "Rwanda", "Saint Barthélemy", "Saint Helena, Ascension and Tristan da Cunha", "Saint Kitts and Nevis", "Saint Lucia", "Saint Martin (French part)", "Saint Pierre and Miquelon", "Saint Vincent and the Grenadines", "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Senegal", "Serbia", "Seychelles", "Sierra Leone", "Singapore", "Sint Maarten (Dutch part)", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Georgia and the South Sandwich Islands", "South Sudan", "Spain", "Sri Lanka", "Sudan", "Suriname", "Svalbard and Jan Mayen", "Swaziland", "Sweden", "Switzerland", "Syrian Arab Republic", "Taiwan, Province of China", "Tajikistan", "Tanzania, United Republic of", "Thailand", "Timor-Leste", "Togo", "Tokelau", "Tonga", "Trinidad and Tobago", "Tunisia", "Turkey", "Turkmenistan", "Turks and Caicos Islands", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "United States", "United States Minor Outlying Islands", "Uruguay", "Uzbekistan", "Vanuatu", "Venezuela, Bolivarian Republic of", "Vietnam", "Virgin Islands, British", "Virgin Islands, U.S.", "Wallis and Futuna", "Western Sahara", "Yemen", "Zambia", "Zimbabwe"] %>
    </div> 

  <!-- <h3> Billing Address </h3>
    
    <div class ="row">
      <div class="field">
          <%-# f.check_box :is_home, :checked => true %>
          <%-# f.label "Same as home address" %>
        </div>
    </div> -->

  <h3> Other Information </h3>
    
    <div class ="row">
      <div class="field">
          <%= f.label :gender%>
          <%= f.radio_button :gender, true %>
          <%= f.label :gender, "Male", :value => "true"  %>
          <%= f.radio_button :gender, false, :checked => true %>
          <%= f.label :gender, "Female", :value => "false" %>
          <%= f.radio_button :gender, true %>
          <%= f.label :gender, "Other", :value => "false"  %>
        </div>
    </div>

    <BR/><BR/>

    <div class = "row">
      <%= f.label :birth_date %>
      <%= f.date_field :birth %>
    </div>

    <BR/><BR/>

    <!-- <button> Save </button> -->
    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>