<% if flash[:error].present? %>
    <div id="error_explanation">
      <p><%= flash[:error] %></p>
    </div>
<% end %>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Quantity</th>
    <th>Price(Subtotal)</th>
  <tr>
    <% @price_lines.each do |p| %>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.quantity %></td>
        <td><%= p.sub_total %></td>

      </tr>
  <% end %>
  <tr>
    <td></td>
    <td><b>Total</b></td>
    <td><%= @total %></td>
  </tr>
</table>
<%= form_tag '/signup' do %>

    <%= hidden_field_tag :tournament_id, @tournament_id %>
    <%= hidden_field_tag :player_tickets, @player_tickets %>
    <%= hidden_field_tag :sponsor_level, @sponsor_level %>
    <%= hidden_field_tag :spectator_tickets, @spectator_tickets %>
    <%= hidden_field_tag :foursome_tickets, @foursome_tickets %>


    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.application.secrets.stripe_publishable_key %>"
            data-description="Tournament Ticket"
            data-locale="auto"></script>

<% end %>




