<div style="border-style: dashed;min-height: 300px;padding-left:5px;padding-right:5px;padding-top:10px;padding-bottom:10px">
<tr>
<img style="float:right;max-height:100px;max-width: 100px" src="<%= tournament.logo%>"/>
  <h1><%=tournament.name%></h1>
  <h2>Ticket Number:<%=person.ticket_number%></h2>
  <h3>Date of Event: <%=tournament.start_date%></h3>
  <h3>Location: <%=tournament.venue_address%></h3>
  <img src="<%=barcode%>" />
</div>
