<!DOCTYPE HTML>

<h1>Sign Up For a Tournament</h1>

<%= bootstrap_form_tag url: '/signup', multipart: true, layout: :horizontal, label_col: "col-sm-1", control_col: "col-sm-5"  do |f| %>

	<h4>Search for a Tournament</h4>
	<%= f.collection_select(:tournament_name, Tournament.all, :name, :name) %>

	<h4>Ticket Quantities</h4>
	<%= f.text_field :player_tickets %>
	<%= f.text_field :sponsor_tickets %>

	<br>
	<%= f.submit class: "btn-lg btn-success center-block " %>
	
<% end %>