<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"> </script>
<button type="submit" class="btn btn-default edit_tsheets">Submit</button>
</BR> </BR>
<div class="row">
  <div class="col-md-6">
    <% @groups.each do |key, value|  %>
      <table class="table table-bordered">
        <thead>
          <th unique_group_id = "<%= key %>">Group <%= key %> | Time: <%= value[0] =%> - <%= value[1] =%> </th>
        </thead>
        <tbody class = "connectedSortable" id="values" >
          <% @all_tournament_players.each do |user|%>
            <% if user.group_number == key %>
          <tr>
            <td unique_group_id = "<%= key %>" user_id = "<%= user.id%>">
              <% if user.is_guest == true %>
              <%= sprintf("%s guest", Account.find_by(user_id: user.guest_of).first_name) %>
              <% else %>
              <%= sprintf("%s %s", Account.find_by(user_id: user.user_id).first_name, Account.find_by(user_id: user.user_id).last_name) %>
              <% end %>
            </td>
          </tr>
          <% end %>

          <% end %>
        </tbody>
      </table>
    <% end %>
 </div>
  <div class="col-md-6">
    <table class="table table-bordered">
        <thead>
          <th> UNSIGNED PLAYERS </th>
        </thead>
        <tbody class = "connectedSortable" id = "novalues">
          <tr>
            <td> </td>
          </tr>
        </tbody>
    </table>
  </div>
</div>


  
<script>
var group_and_users = {}
var not_needed = {}

sent = false;
$(".connectedSortable")
        .sortable({
        connectWith: ".connectedSortable",
        appendTo: "parent",
        helper: "clone",
        cursor: "move",
        zIndex: 999990,
        receive: function () {
            
        }
    });
    $(".edit_tsheets").click(function(){ 
      $("#values tr td").each(function() {
          var g_id = $(this).closest("table").find("th").attr("unique_group_id");
          var u_id = $(this).attr("user_id");
          if (g_id in group_and_users){
            group_and_users[g_id].push(u_id)
          }
          else{
             group_and_users[g_id] = []
             group_and_users[g_id].push(u_id)
          }
          
      }); 

      $("#novalues tr td").each(function() {
          var g_id = $(this).closest("table").find("th").attr("unique_group_id");
          var u_id = $(this).attr("user_id");
          if (typeof u_id != 'undefined'){
            if (g_id in not_needed){
              not_needed[g_id].push(u_id)
            }
            else{
               not_needed[g_id] = []
               not_needed[g_id].push(u_id)
            }
          }
      });

      post_ajax(group_and_users, not_needed);
        
      
    });

    function post_ajax(group_and_users, not_needed){
      $.ajax({
              type: 'POST',
              url: "/sheets/edit/",
              data: JSON.stringify({"values_needed" : group_and_users, "values_not_needed" : not_needed, "t_id" : "<%= @t_id %>"}),
              dataType: "json",
        });

    }

</script>
  