<div class="row" style="border-bottom-style: solid;">
	<div class="col-md-2 col-spacing">
		<%= button_to 'Edit sheet', {:controller => "sheets", :action => "edit"}, :method=>:get %>
	</div>
</div>

<% for key in @group_numbers %>
<table class="table table-bordered">

	  <thead>
	      <th>Group <%= key[0] %> | Time: <%= key[1][0] =%> - <%= key[1][1] =%> </th>
	  </thead>
	  <tbody>

	   <% @all_tournament_players.each do |user|%>
	      	<% if user["player"].group_number == key[0] %>
		      <tr>

		      	<td>
		        <% if user["is_guest"] == true %>
		          <%= sprintf("%s guest %d", user["account"].first_name, user["guest_number"]) %>
		        <% end %>
		        <% if user["is_guest"] == false %>
		          <% if user["account"] == nil %>
		            No Name
		          <% else %>
		          <%= sprintf("%s %s", user["account"].first_name, user["account"].last_name) %>
		          <% end %>
		        <% end %>
		        </td>

	      	  </tr>
	        <% end %>
	        
	  <% end %>

	</tbody>
</table>
<% end %>