<h3> Contact Information </h3>

<%= form_for :account do |f| %>

	<div class = "row">
		Prefix:
		<select class = "kl">
		  <option value="...">...</option>
		  <option value="Mr.">Mr.</option>
		  <option value="Mrs.">Mrs.</option>
		  <option value="Miss">Miss</option>
		  <option value="">Dr.</option>
		  <option value="">Prof.</option>
		</select>
	</div>

		<BR/><BR/>

	<div class = "row">
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
		<%= f.label :middle_name %>
		<%= f.text_field :middle_name %>
		<%= f.label :last_name %>
		<%= f.text_field :last_name %>
	</div>

	<BR/><BR/>

	<div class = "row">
		<%= f.label :suffix %>
		<%= f.text_field :suffix %>
	</div>

	<BR/><BR/>

	<div class = "row">
		<%= f.label :mobile_phone %>
		<%= f.text_field :mobile_phone %>
		<%= f.label :home_phone %>
		<%= f.text_field :home_phone %>
	</div>

	<BR/><BR/>

	<div class = "row">
		<%= f.label :job_title %>
		<%= f.text_field :job_title %>
		<%= f.label :organization %>
		<%= f.text_field :organization %>
	</div>

	<BR/><BR/>

	<div class ="row">
		<%= f.label :website %>
		<%= f.text_field :website %>
		<%= f.label :blog %>
		<%= f.text_field :blog %>
	</div>

<h3> Home Address </h3>
	
	<div class = "row">
		<%= f.label :street_address_1 %>
		<%= f.text_field :street_address_1 %>
	</div>

	<BR/><BR/>

	<div class = "row">
		<%= f.label :street_address_2 %>
		<%= f.text_field :street_address_2 %>
	</div>

	<BR/><BR/>
	<div class = "row">
		<%= f.label :city %>
		<%= f.text_field :city %>
	</div>

	<BR/><BR/>
	<div class = "row">
		Country
		<%= render 'countrylist' %>
	</div>

	<BR/><BR/>

	<div class ="row">
		<%= f.label :postal_code %>
		<%= f.text_field :postal_code %>
	</div>

	<BR/><BR/>

	<div class ="row">
		<%= f.label :province %>
		<%= f.text_field :province %>
	</div>

<h3> Shipping Address </h3>
	
	<div class = "row">
		<%= f.label :street_address_1 %>
		<%= f.text_field :street_address_1 %>
	</div>

	<BR/><BR/>

	<div class = "row">
		<%= f.label :street_address_2 %>
		<%= f.text_field :street_address_2 %>
	</div>

	<BR/><BR/>
	<div class = "row">
		<%= f.label :city %>
		<%= f.text_field :city %>
	</div>

	<BR/><BR/>
	<div class = "row">
		Country
		<%= render 'countrylist' %>
	</div>

	<BR/><BR/>

	<div class ="row">
		<%= f.label :postal_code %>
		<%= f.text_field :postal_code %>
	</div>

	<BR/><BR/>
	
	<div class ="row">
		<%= f.label :province %>
		<%= f.text_field :province %>
	</div>

<h3> Work Address </h3>
	
	<div class = "row">
		<%= f.label :street_address_1 %>
		<%= f.text_field :street_address_1 %>
	</div>

	<BR/><BR/>

	<div class = "row">
		<%= f.label :street_address_2 %>
		<%= f.text_field :street_address_2 %>
	</div>

	<BR/><BR/>
	<div class = "row">
		<%= f.label :city %>
		<%= f.text_field :city %>
	</div>

	<BR/><BR/>
	<div class = "row">
		Country
		<%= render 'countrylist' %>
	</div>

	<BR/><BR/>

	<div class ="row">
		<%= f.label :postal_code %>
		<%= f.text_field :postal_code %>
	</div>

	<BR/><BR/>
	
	<div class ="row">
		<%= f.label :province %>
		<%= f.text_field :province %>
	</div>

<h3> Other Information </h3>
	
	<div class ="row">
		<div class="field">
		    <%= f.label :gender%>
		    <%= f.radio_button :gender, true %>
		    <%= f.label :gender, "Male", :value => "true"  %>
		   	<%= f.radio_button :gender, false, :checked => true %>
		    <%= f.label :gender, "Female", :value => "false" %>
		    <%= f.radio_button :gender, true %>
		    <%= f.label :gender, "Other", :value => "false"  %>
	  	</div>
	</div>

	<BR/><BR/>

	<div class = "row">
		Birth Date
		<BR/>
		<%= render 'birthdate' %>	
	</div>

	<BR/><BR/>

	<button> Save </button>
<% end %>