<label> Profile Picture: </label> <BR/> <%= image_tag @account.avatar, size: "200x200", alt: "Edit Entry" %> <BR/><BR/>
<label> Name: </label> <%=@account.prefix%> <%=@account.first_name%> <%=@account.middle_name%> <%=@account.last_name%> <%=@account.suffix%>  <BR/> <BR/>
<label> Mobile Phone: </label> <%=@account.mobile_phone%> <BR/><BR/>
<label> Home Address: </label> <%=@account.home_adr1%> <%=@account.home_adr2%> <%=@account.home_city%> <%=@account.home_province%> <%=@account.home_code%> <%=@account.home_country%> <BR/><BR/>
<label> Birth Date: </label> <%=@account.birth%>

<BR/><BR/>

<a href="/users/edit/">Edit account details</a>