<!DOCTYPE HTML>

<h1>Tournament Registration</h1>

<%= form_tag("/tournaments", multipart: true) do %>
    <h3>Tournament Information</h3>
    <p>Tournament Name: <%= text_field_tag :name %></p>
    <p>Tournament Logo: <%= file_field_tag :logo_raw %></p>
    <p>Language: <%= select_tag :language, options_for_select(Tournament.language_options) %></p>
    <p>Currency: <%= select_tag :currency, options_for_select(Tournament.currency_options) %></p>
    <p>Profile Picture: <%= file_field_tag :profile_picture_raw %></p>
    <p>Tournament Details: <br><%= text_area_tag :details %></p>
    <br>
    <h3>Venue Information</h3>
    <p>Venue Name: <%= text_field_tag :venue_name %></p>
    <p>Venue Logo: <%= file_field_tag :venue_logo_raw %></p>
    <p>Venue Address: <%= text_field_tag :venue_address %></p>
    <p>Venue Website: <%= text_field_tag :venue_website %></p>
    <p>Venue Contact Details: <%= text_field_tag :venue_website %></p>
    <br>
    <p>Private Event (we will email you a link for the event to share if it's private)<%= check_box_tag :is_private %></p>
    <%= submit_tag("Save Data") %>
<% end %>

