


	 <script>
	    jQuery(document).on("ready page:load", function() {
			  $(function () { 
			    $('#countdown').countdown({until: new Date(gon.year, gon.month - 1, gon.day), compact: true, 
    			layout: 'Golfing in <b>{dn} {dl} {hnn}{sep}{mnn}{sep}{snn}</b> {desc}'});
			  });
			});
    </script>

    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-88266161-1', 'auto');
	  ga('send', 'pageview');

	</script>
<div class="row">
  <div class="col-md-1">
   <% if !current_user.nil? %>
      <% if Person.where(sprintf("user_id = %s AND tournament_id = %s AND is_organizer = 1 AND org_view_public = 1", current_user.id, @tournament.id)).exists? %>
           <%=render "layouts/return_to_organizer_dashboard" %>
      <% end %>
    <% end %>
  </div>
</div>


		<div class="row">
      <div class="col-md-9">
        <div class="text-center">
          <% if @tournament.logo.present? %>
              <img src=<%= @tournament.logo %> class="style_image" >
          <% end %>
          <div class="logo">
            <h2><%=@tournament.name%></h2>
          </div>
        </div>
      </div>


      <div class="col-md-8">
        <%= render('layouts/event_slideshow') %>
      </div>

      <div class="col-md-9">
        <div class="list-group">
          <% if @tournament.details.present? %>

              Description:

              <%=@tournament.details%>

              </div>
          <% end %>

          <div>
            <div class="list-group-item">

              Start Time : <%=@date%>

            </div>

            <div class="list-group-item">
              Player Tickets Remaining: <%=@tickets_left%>
            </div>
            <div class="list-group-item">
              Spectator Tickets Remaining: <%=@spectator_tickets_left%>
            </div>
            <div class="list-group-item">
              Dinner Tickets Remaining: <%=@dinner_tickets_left%>
            </div>


          </div>
          </div>
      <br>
      <%= render('layouts/general_map_view') %>
    </div>

   <div class="col-md-2">

     <div class="panel-primary panel">
       <div class="panel-heading">
         <h4 class="panel-title">Explore</h4>
       </div>
       <div class="panel-body">
         <%= button_to "Agenda", {:controller => "tournaments", :action => "schedule", :id => @id}, :method => "get", :class=> 'btn btn-default' %>
         <%= button_to "Features", {:controller => "tournaments", :action => "features", :id => @id}, :method => "get",:class=> 'btn btn-default' %>
         <%= button_to "Sponsors", {:controller => "tournaments", :action => "sponsors", :id => @id}, :method => "get",:class=> 'btn btn-default' %>
         <%= button_to "Information", {:controller => "tournaments", :action => "information", :id => @id}, :method => "get", :class=> 'btn btn-default' %>

         <% if @show_signup_button and not @buy_additional_tickets%>

             <br>
             <%= button_to "Check In", {:controller => "tournaments", :action => "guest_login", :id => @id}, :method => "get", :class=>'btn btn-default' %>
         <% end %>
         <% if @tickets_left >= 1 %>
             <% if @show_signup_button and @no_group_need_to_buy_tickets %>
                 <%= button_to 'Buy Tickets', {:controller => "signup", :action => "signup_from_tournament", :id => @id}, :method=>:get, :class=>'btn btn-default' %>
             <% elsif @buy_additional_tickets %>
                 <%= button_to 'Purchase additional tickets', {:controller => "signup", :action => "signup_from_tournament", :id => @id}, :method=>:get %>
             <%end%>
             <% if @show_signup_button and not @no_group_need_to_buy_tickets and not @buy_additional_tickets%>
                 <%= button_to 'Signup/Login', {:controller => "signup", :action => "signup_from_tournament", :id => @id}, :method=>:get %>
             <% end %>
         <%end%>
         <%= render "tournaments/sponsor_opportunities_modal" %>

         <button type="button" class="btn-default btn" data-toggle="modal" data-target=<%= "#sponsordetails#{params[:id]}" %> >Become A Sponsor!</button>
         <br>

         <%= render_shareable :buttons=> ['twitter', 'linkedin']%>
         <a href="javascript:fbShare('http://jsfiddle.net/stichoza/EYxTJ/', 'Fb Share', 'Facebook share popup', 'http://goo.gl/dS52U', 520, 350)">Share on Facebook</a>

       </div>
     </div>
   </div>



   <div class="col-md-12">
     <%= render('layouts/gold_sponsor_slideshow') %>
   </div>

   <% if @is_signed_up or @is_valid_guest %>
       <div class="col-md-12">
         <%= render('layouts/event_group_view') %>
       </div>
   <% end %>

   <% if @sponsor_accounts.present?%>
       <div>
         <div>Sponsored By:</div>
         <%@sponsor_accounts.each do |sponsor_account| -%>

             <%=sponsor_account.first_name%> <%=sponsor_account.last_name%> ID(<%=sponsor_account.user_id%>):
             <% if sponsor_account.profile_pic.present? %>
                 <img src=<%= sponsor_account.profile_pic %>>
             <% end %>
         <%end -%>
       </div>
       <br>
   <%end%>

   <div class="col-md-8">
     <div class="countdown center-text">
       <div id="countdown"></div>
     </div>
   </div>


    </div>
   <div class="col-md-2 col-spacing">
     <% if !@is_valid_guest %>
         <% if @profile_pic %>
             <img height="100" width="100" src=<%= @profile_pic %> >
         <% elsif @f_name != 'none' %>
             <%=@f_name%>
         <% elsif @email %>
             <%=@email %>
         <% end %>
     <% end %>






     <%= render('layouts/silver_sponsor_slideshow') %>
   </div>
   </div>
   <div>
     <% if @is_signed_up  %>
         <%= link_to "Request A Refund", {:controller => "tournaments", :action => "request_refund_email", :id => current_user.id, :tournament_id => params[:id]}, :method => "post" %>
     <% end %>
   </div>

   <script>
       function fbShare(url, title, descr, image, winWidth, winHeight) {
           var winTop = (screen.height / 2) - (winHeight / 2);
           var winLeft = (screen.width / 2) - (winWidth / 2);
           window.open('http://www.facebook.com/sharer.php?s=100&p[title]=' + title + '&p[summary]=' + descr + '&p[url]=' + url + '&p[images][0]=' + image, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
       }
   </script>
    </div>

