<!DOCTYPE HTML>
<html>
	<head>
		<style type="text/css">
		.col-centered{
    	float: none;
     	margin: auto;
		}
		.center-text{
			text-align: center
		}
		.countdown {
			width:200px;
			height:80px;
			padding: 20px;
			float: none;
     	margin: auto;
		}
		.style_image {
			width: 400px;
			height: 300px;
		}
		.slide {
		  display:none;
		  width: 200px;
		  height: 300px;
		  margin:0 auto;
		}
		#slides .slide-header {
		  display: none
		}
		#slides .slide-footer {
		  margin:0;
		  width: 200px;
		}
		.slide-footer .previous {
		  width:75px;
		  float:left;
		}
		.slide-footer .next {
		  width:75px;
		  float:right;
		  text-align:right;
		}
		</style>
	</head>
	<body>

	 <script>
	    jQuery(document).on("ready page:load", function() {
			  $(function () { 
			    $('#countdown').countdown({until: new Date(gon.year, gon.month - 1, gon.day), compact: true, 
    			layout: 'Golfing in <b>{dn} {dl} {hnn}{sep}{mnn}{sep}{snn}</b> {desc}'});
			  });
			});
    </script>


		<div class="row">
			<div class="col-md-1 col-spacing">
				<%= button_to "Agenda", {:controller => "tournaments", :action => "schedule", :id => @id}, :method => "get" %>
				<%= button_to "Features", {:controller => "tournaments", :action => "features", :id => @id}, :method => "get" %>
				<%= button_to "Venue Information", {:controller => "tournaments", :action => "venue_information", :id => @id}, :method => "get" %>
			</div>
			<div class="col-md-9">
				<div class="center-text">
				<% if @tournament.logo.present? %>
				 	<img src=<%= @tournament.logo %> class="style_image" >	
				<% end %>
				<div class="logo">
				 	<%=@tournament.name%>
				</div>
				<% if @tournament.details.present? %>
				<div class="logo">
				 	<%=@tournament.details%>
				</div>
				<% end %>
				<div>
					Start Time : <%=@date%>
				</div>
				<div>
				 <%=@tickets_left%> Player Tickets Remaining,
         <%=@spectator_tickets_left%> Spectator Tickets Remaining,
          <%=@dinner_tickets_left%> Dinner Tickets Remaining,
        </div>
				</div>
				<div class="col-md-12">
				<%= render('layouts/event_slideshow') %>
				</div>
				<%= render('layouts/general_map_view') %>
        <div class="col-md-12">
          <%= render "tournaments/sponsor_opportunities_modal" %>
          <div class="center-text">
            <button type="button" class="btn-success btn-sm" data-toggle="modal" data-target=<%= "#sponsordetails#{params[:id]}" %> >Interested in Sponsoring this Tournament?</button>
          </div>
        </div>
				<div class="col-md-12">
					<div class="countdown center-text">
						<div id="countdown"></div>
					</div>
				</div>

				<% if @is_signed_up or @is_valid_guest %>
				<div class="col-md-12">
					<%= render('layouts/event_group_view') %>
				</div>
				<% end %>

				<% if @sponsor_accounts.present?%>
					<div>
						<div>Sponsored By:</div>
						 <%@sponsor_accounts.each do |sponsor_account| -%>

						 	<%=sponsor_account.first_name%> <%=sponsor_account.last_name%> ID(<%=sponsor_account.user_id%>):
		 					<% if sponsor_account.profile_pic.present? %>
							 	<img src=<%= sponsor_account.profile_pic %>>	
							<% end %>

							&nbsp;&nbsp;&nbsp;
						 <%end -%>
					</div>
					<br>
				<%end%>

			</div>
			<div class="col-md-2 col-spacing">
				<% if !@is_valid_guest %>
					<% if @profile_pic %>
						<img height="100" width="100" src=<%= @profile_pic %> >
					<% elsif @f_name != 'none' %>
						<%=@f_name%>
					<% elsif @email %>
						<%=@email %> 
					<% end %>
				<% end %>
				<% if @tickets_left >= 1 %>
					<% if @show_signup_button and @no_group_need_to_buy_tickets %>
				 		<%= button_to 'Buy Tickets', {:controller => "signup", :action => "signup_from_tournament", :id => @id}, :method=>:get %>
				 		<% elsif @buy_additional_tickets %>
				 		<%= button_to 'Purchase additional tickets', {:controller => "signup", :action => "signup_from_tournament", :id => @id}, :method=>:get %>
				 	<%end%>
				 	<% if @show_signup_button and not @no_group_need_to_buy_tickets and not @buy_additional_tickets%>
				 		<%= button_to 'Signup/Login', {:controller => "signup", :action => "signup_from_tournament", :id => @id}, :method=>:get %>
				 	<% end %>
				<%end%>

				<% if @show_signup_button and not @buy_additional_tickets%>
				<%= button_to "Are you someone's Guest or a Spectator?", {:controller => "tournaments", :action => "guest_login", :id => @id}, :method => "get" %>
				<% end %>
				<%= render_shareable :buttons=> ['twitter', 'linkedin']%>
				
				<a href="javascript:fbShare('http://jsfiddle.net/stichoza/EYxTJ/', 'Fb Share', 'Facebook share popup', 'http://goo.gl/dS52U', 520, 350)">Share on Facebook</a>
			</div>
		</div>
	</body>
</html>
<script>
    function fbShare(url, title, descr, image, winWidth, winHeight) {
        var winTop = (screen.height / 2) - (winHeight / 2);
        var winLeft = (screen.width / 2) - (winWidth / 2);
        window.open('http://www.facebook.com/sharer.php?s=100&p[title]=' + title + '&p[summary]=' + descr + '&p[url]=' + url + '&p[images][0]=' + image, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
    }
</script>
