<!DOCTYPE HTML>
<html>
	<head>
		<style type="text/css">
		.col-centered{
    	float: none;
     	margin: auto;
		}
		.center-text{
			text-align: center
		}
		.countdown {
			width:200px;
			height:80px;
			padding: 20px;
			float: none;
     	margin: auto;
		}
		</style>
	</head>
	<body>

	 <script>
	    jQuery(document).on("ready page:load", function() {
			  $(function () { 
			    $('#countdown').countdown({until: new Date(gon.year, gon.month - 1, gon.day), compact: true, 
    			layout: 'Golfing in <b>{dn} {dl} {hnn}{sep}{mnn}{sep}{snn}</b> {desc}'});
			  });
			});
    </script>


		<div class="row">
			<div class="col-md-1 col-spacing">
				<%= button_to "Agenda", {:controller => "tournaments", :action => "schedule", :id => @id}, :method => "get" %>
			</div>
			<div class="col-md-9">
				<div class="center-text">
				<% if @tournament.logo.present? %>
				 	<img src=<%= @tournament.logo %> >	
				<% end %>
				<div class="logo">
				 	<%=@tournament.name%>
				</div>
				<div>
					Start Time : <%=@date%>
				</div>
				<div>
				 <%=@tickets_left%> Tickets Remaining
				 
				</div>
				</div>

				<%= render('layouts/general_map_view') %>
				<div class="col-md-12">
					<div class="countdown center-text">
						<div id="countdown"></div>
					</div>
				</div>

				<% if @is_signed_up or @is_valid_guest %>
				<div class="col-md-12">
					<%= render('layouts/event_group_view') %>
				</div>
			<% else %>
			
			<% end %>
			</div>
			<div class="col-md-2 col-spacing">
				<% if @profile_pic %>
					<img height="100" width="100" src=<%= @profile_pic %> >
				<% elsif @first_name != 'none' %>
					<%=@first_name%>
				<% elsif @email %>
					<%=@email %> 
				<% end %>
				<% if @tickets_left >= 1 %>
					<% if @show_signup_button and @no_group_need_to_buy_tickets %>
				 		<%= button_to 'Buy Tickets', {:controller => "signup", :action => "signup_from_tournament", :id => @id}, :method=>:get %>
				 		<% elsif @buy_additional_tickets %>
				 		<%= button_to 'Purchase additional tickets', {:controller => "signup", :action => "signup_from_tournament", :id => @id}, :method=>:get %>
				 	<%end%>
				 	<% if @show_signup_button and not @no_group_need_to_buy_tickets %>
				 		<%= button_to 'Signup/Login', {:controller => "signup", :action => "signup_from_tournament", :id => @id}, :method=>:get %>
				 	<% end %>
				<%end%>

				<% if @show_signup_button %>
				<%= button_to "Are you someone's Guest?", {:controller => "tournaments", :action => "guest_login", :id => @id}, :method => "get" %>
				<% end %>
			
			</div>
		</div>
	</body>
</html>
