<style type="text/css">	
	.style_image {
		width: 400px;
		height: 300px;
	}
	.center-text{
			text-align: center
		}
</style>
<div class="center-text">
<% if @venue.venue_name.length > 0 %>
<h1>
	<%=@venue.venue_name%>
</h1>
<% end %>

<% if @venue.venue_logo %>
<img src=<%= @venue.venue_logo %> class="style_image" >
<% end %>

<% if @venue.venue_address.length > 0 %>
<h1>
	Located @ <%=@venue.venue_address%>!
</h1>
<% end %>

<% if @venue.venue_website.length > 0 %>
<h1>
	Visit us @ <%=@venue.venue_website%>
</h1>
<% end %>

<% if @venue.venue_contact_details.length > 0 %>
<h1>
	Need to contact us? <%=@venue.venue_contact_details%>
</h1>
<% end %>
</div>
