

<%= form_for ([@tournament, @tournament.tournament_events.build]) do |f| %>
    <p>
      <label>Event Name:</label><br>
      <%= f.text_field :event_name  %>
    </p>
    <p>
     <label>Start Time:</label><br>
      <%= f.text_field :start_time, class:'timepickable' %>
    </p>
    <p>
      <label>End Time:</label> <br>
      <%= f.text_field :end_time, class:'timepickable'%>
    </p>

    <%= f.submit%>
<% end %>