<%= bootstrap_form_for ([@tournament, @tournament.tournament_events.build]) do |f| %>
    <p>
      <%= f.text_field :event_name  %>
      <%= f.text_area :description %>
      <%= f.time_select  :start_time,  {:prompt => true, :ampm => true} %>
      <%= f.time_select  :end_time,  {:prompt => true, :ampm => true} %>
    </p>

    <%= f.submit %>
<% end %>
