<h2>Terms of Service</h2>
<h3> Agreement Between the User and <%=@project_name%>.</h3>
<p><%=@project_name%> is offered to you under the terms and conditions set out in this document. By using this site, you have agreed to these terms.</p>

<h3> Links to Third Party Sites</h3>
<p>
	The <%=@project_name%> site contains links to the Websites of other companies or organizations. These sites are not controlled by<%=@project_name%> and therefore <%=@project_name%> does not guarantee these sites in any way. These links are provided for your convenience only. You may use them or not, at your discretion.
</p>

<h3> No Illegal or Prohibited Use</h3>
<p>
	It is understood that you will not use <%=@project_name%> in any way that is either against the law or the terms of use in this document. You may not damage or disable the site or interfere with other people's use of the site. You may not attempt to gain unauthorized access to any<%=@project_name%> computer system, including any server used to host <%=@project_name%>. This includes hacking, password mining or any other means. You may not obtain, or try to obtain, any materials or information that is not intentionally made available on <%=@project_name%>.
</p>

<h3> Liability</h3>
<p>
	Every effort is made to ensure the information provided on <%=@project_name%> is accurate and free of errors. Changes are made to the site on an ongoing basis to improve the site. That said, <%=@project_name%> is not intended as a source of personal, medical, legal or financial information. Users should consult the appropriate professional, such as a lawyer, for specific information.

By using this site, you agree that <%=@project_name%> and its suppliers cannot be held liable for any direct, indirect, punitive, incidental, special damages or any damages whatsoever arising from the use of <%=@project_name%>.
</p>