<h1><%=@tournament_name%> stats</h1>

	Checked in: <%= @num_checked_in %>
	<BR/> <BR/>
	Player tickets sold: <%= @player_tickets_sold %>
	<BR/> <BR/>
	Foursomes sold: <%= @tournament.num_foursomes %>
	<BR/> <BR/>
	Spectator tickets sold: <%= @spectator_tickets_sold %>
	<BR/> <BR/>
	Dinner tickets sold: <%= @dinner_tickets_sold %>
	<BR/> <BR/>
	Player tickets sold: <%= @player_tickets_sold %>
	<BR/> <BR/>
	Current revenue from selling player tickets: <%= @revenue_players %>
	<BR/> <BR/>
	Current revenue from selling foursome tickets: <%= @revenue_foursomes %>
	<BR/> <BR/>
	Current revenue from selling spectator tickets: <%= @revenue_spectators %>
	<BR/> <BR/>
	Current revenue from selling dinner tickets: <%= @revenue_dinner %>
	<BR/> <BR/>
	Number of sponsors: <%= @num_sponsors %>
	<BR/> <BR/>
	Total current revenue: <%= @revenue %>
	<BR/> <BR/>
	Potential revenue from selling player tickets: <%= @potential_revenue_players %>
	<BR/> <BR/>
	Potential revenue from selling spectator tickets: <%= @potential_revenue_spectators %>
	<BR/> <BR/>
	Potential revenue from selling dinner tickets: <%= @potential_revenue_dinner %>
	<BR/> <BR/>
	Total potential revenue: <%= @potential_revenue %>
	<BR/> <BR/>
	Current cost ($2.50 per player signed up): <%= @cost %>
	<BR/> <BR/>
	Number of guests (of users) at this event: <%= @num_guests %>
	<BR/> <BR/>
