<h1>FAQs- <%=@project_name%></h1>
<h2>Frequently Asked Questions From Event Organizers</h2>
<h3> Can I have sponsors ? </h3>
<p>
	Yes! Sponsors can buy from 3 tiers (Gold, Silver, and Bronze) of sponsorship packages. Their logos will be placed in easily spotted locations throughout the event application.
</p>

<h3> How much will I be charged? </h3>
<p>
	The application is free, however, there will be a 2% charge for every ticket sold.
</p>

<h3> How can I advertise my application?</h3>
<p>
	<%=@project_name%> provides easy ways to share your application through multiple social media outlets such as FaceBook, Twitter, and LinkedIn.
</p>

<h3> I've never created an application before, where will I start? Who will help me? </h3>
<p>
	Our easy to use, intuitive application creating platform will allow you to easily create an application within 5- 10 minutes! Our team is here to answer any questions if you have any issues!
</p>

<h3> I'm ready to sign up. What do I do now? </h3>
<p>
	Great! You've made a wise decision to do business with <%=@project_name%>. Reach out to our team: +1 (416) 133 3771 or via email: <%=@project_name%>@<%=@project_name%>.com . We can't wait to start working for you!
</p>