<div class="events-panel container">
  <% if flash[:error] %>
    <br>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      Error: <%= flash[:error] %>
    </div>
  <% end %>

  <%= link_to 'Go to Organizer Dashboard', tournament_path(id: params[:tournament_id]), data: { turbolinks: false } %>

  <h2>Tournament Features</h2>
  <h2>Add Feature</h2>
  <%= render 'tournament_features/createfeature'%>
  <br></br>
  <%= link_to 'Continue', new_tournament_tournament_sponsorship_path(id: params[:tournament_id]), data: { turbolinks: false }, class: "btn btn-success"%>
  <%= link_to 'Done', tournament_path(id: params[:tournament_id]), data: { turbolinks: false }, class: "btn btn-success"%>

  <h2> Current Features </h2>
  <%=render  'tournament_features/list', tournament_features: @tournament.tournament_features %>
</div>
