<div class="row" style="border-bottom-style: solid;">
	<div class="col-md-6 col-spacing">
	</div>
	<div class="col-md-2 col-spacing">
		<%= button_to 'Event Stats', {:controller => "tournament_stats", :action => "show"}, :method=>:get %>
	</div>
	<div class="col-md-2 col-spacing">
		<%= button_to 'Edit Event', {:controller => "tournaments", :action => "edit"}, :method=>:get %>
	</div>
	<div class="col-md-2 col-spacing">
		<%= button_to 'T sheets', {:controller => "sheets", :action => "show"}, :method=>:get %>
	</div>
  <div class="col-md-2 col-spacing">
    <%= button_to 'Public View', {:controller => "organizer_dashboard", :action => "view_public"}, :method=>:post %>
  </div>
	<div class="col-md-2 col-spacing">
		<%= button_to 'Edit Tournament Features', {:controller => "tournament_features", :action => "edit_features"}, :method=>:get %>
	</div>
	<div class="col-md-2 col-spacing">
		<%= button_to 'Edit Tournament Agenda', {:controller => "tournament_events", :action => "edit_events"}, :method=>:get %>
	</div>
</div>
