<% if @checked_in != true %>
	<% if @is_signed_up %>
    <% if @tournament.player_questionnaire %>
      <div>
        <%= link_to "Answer the tournament Survey!", {:controller => 'tournaments', :action => 'answer_survey'}, :method => :post %>
      </div>
    <%end%>
		<div>
			<a href="/tournaments/<%=params[:id]%>/check_in?guest=false&user=<%=@curr_user%>" class="btn btn-info" role="button">Check In</a>
		</div>
	<%elsif session[:guest_ticket_number] and session[:purchaser_email] %>
		<div>
			<a href="/tournaments/<%=params[:id]%>/check_in?guest=true&purchaser_id=<%=@purchaser_id%>&ticket_number=<%=session[:guest_ticket_number]%>" class="btn btn-info" role="button">Check In</a>
		</div>
	<%end%>
<%end%>

<div class="center-text">
	Your team's Tee Off Time :  
</div>

<table class="table table-bordered">
	<tr>
		<th> Group Number</th>
		<th> Name</th>
		<th> Checked in </th>
		<th> Score </th>
	</tr>
	<% @members.each do |member| %>
	<tr>
		<th><%=member['group']%></th>
		<th><%=member['name']%></th>
		<th><%=member['checked_in']%></th>
		<th><%=member['is_sponsor']%></th>
	</tr>	
	<% end %>
</table>


