<div class="center-block events-container">
      <% @top_tourneys.each do |tournament| %>
    <tr>
      <div class="content-card-title">
        <%= tournament.start_date.strftime("%m/%d/%Y at %I:%M%p") %>
      </div>
      <div class="content-card">
        <td>
         
        <%= link_to tournament.name, tournament_path(tournament), data: { turbolinks: false } %>
        </td>
        <br />
        <% if !tournament.details.blank? %>
          <a id= "hide-<%=tournament.id%>" href="" onclick="toggle_visibility('details-<%=tournament.id%>','hide-<%=tournament.id%>');return false">Show Details</a>
          <div id="details-<%=tournament.id%>" style="display:none">
              <td><%= tournament.details %></td>
          </div>
        <% else %>
        <% end %>
      </div>
    </tr>
  <% end %>
</div>