<div class="center-block events-container">
     <!-- dropdown form -->
  <%= form_tag("/", method: "get") do %>
    <%= hidden_field_tag(:q) %>
    <%= hidden_field_tag(:client_ip) %>


    <%= label_tag(:searchTitle, "Title:") %>
    <%= text_field_tag(:searchTitle) %>

    <%= label_tag(:searchStart, "Start date:") %>
    <%= text_field_tag(:searchStart) %>

    <%= label_tag(:searchEnd, "End date:") %>
    <%= text_field_tag(:searchEnd) %>

    <%= label_tag(:searchDistance, "Distance (km)") %>
    <%= text_field_tag(:searchDistance) %>

    <%= submit_tag("Search") %>

    <select id = "dropdownSelect" onchange="getSort()">
      <option value="1">Ascending Start Date</option>
      <option value="2">Decending Start Date</option>
      <option value="3">Ascending Title</option>
      <option value="4">Descending Title</option>
      <option value="5">Choose distance</option>
    </select>

    <script>
      function getSort() {
          var mySelect = document.getElementById("dropdownSelect");
          document.getElementById("q").value = mySelect.value;
      }

      function getIP() {
          $.getJSON('//freegeoip.net/json/?callback=?', function(data) {
            var client_ip = data.ip;
            console.log('client_ip: ', client_ip);
            document.getElementById("client_ip").value = client_ip
        });
      }

      getSort()
      getIP()
    </script>

  <% end %>
  
      <% @tournaments.each do |tournament| %>
    <tr>
      <div class="content-card-title">
        <%= tournament.start_date.strftime("%m/%d/%Y at %I:%M%p") %>
      </div>
      <div class="content-card">
        <td><%= tournament.name %></td>
        <br/>
        <td><%= tournament.details %></td>
      </div>
    </tr>
  <% end %>
</div>