<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Golf Tournament App</a>
    </div>

  <ul class="nav navbar-nav">
      <%= nav_link 'Home', root_path %>
      <%= nav_link 'Dashboard', dashboard_index_path%>
      <% if user_signed_in? %>
      	<%= button_to "Logout", destroy_user_session_path, :method => :delete %>
      	<%= button_to "My Account", edit_user_registration_path, :method => :get %>
      <% else %>
        <%= button_to "Login/Register", new_user_session_path, :method => :get %>
      <% end %>
  </ul>
  </div>
</nav>
