<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type = "button" class = "navbar-toggle"
              data-toggle = "collapse" data-target = "#main-navbar">
        <span class = "sr-only">Toggle navigation</span>
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Golf Tournament App</a>


    </div>
    <div id="main-navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <%= nav_link 'Home', root_path %>
      <%= nav_link 'Tournaments', main_app.tournament_list_list_path %>
      <% if user_signed_in? %>
          <%= nav_link 'Dashboard', main_app.dashboard_index_path %>
          <%= nav_link 'Create Tournament', main_app.new_tournament_path %>
          <% if current_user.is_admin? %>
              <%= nav_link 'Db Administration', rails_admin_path %>
          <% end %>
      <% end %>

    </ul>

    <ul class="nav navbar-nav navbar-right">

      <% if user_signed_in? %>
          <li><a href="/users/account">My Account</a></li>
          <li><%= nav_link 'My Orders', '/dashboard/my_orders' %>

          <li> <%= link_to "Logout", main_app.destroy_user_session_path, :method => :delete %> </li>

      <% else %>
          <li><a href="/users/sign_in/">Login/Register</a></li>

      <% end %>

    </ul>

  </div>
  </div>
</nav>
